# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# NuGet packages
packages/
*.nupkg

# Test results
TestResults/
[Tt]est[Rr]esult*/

# Rider / VS Code
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
